<link rel="stylesheet" href="front-end/books/assets/style/style.css">

<div id="site-container"><div class="header-container" id="header-container"><header class="header">
  <div class="head">
    <div class="logo">Books</div>
    <div class="header-btn library">Library</div>
    <div class="header-btn options">Profile</div>
  </div>
</header></div>

<div class="outer-page-container">
  <div class="page-container" id="page-container">
    <div class="home-page">
      <div id="content-container" class="content"></div>
    </div>
  </div>
</div>
</div>

<footer></footer>