.logo {
    width: 220px;
    height: 100%;
    font-size: 36pt;
    font-weight: bold;
    color: #268e92;
    display: inline-block;
    margin-left: 60px;
}

.header-btn {
    width: 200px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    font-size: 36pt;
    color: #117c57;
    text-align: center;
}

.header-btn:hover {
    background: #549a86;
    color: white;
}

.head {
    height: 100%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.book,
.profile {
    cursor: pointer;
    color: #3f7c69;
}

.book:hover,
.profile:hover {
    background: #c5ffec;
}

.add-book {
    background: url('/front-end/books/static/image/add.png') no-repeat center;
    background-size: 20px;
    cursor: pointer;
}

.add-book:hover {
    opacity: 0.5;
}

.remove-book {
    background: url('/front-end/books/static/image/close.png') no-repeat center;
    background-size: 20px;
}

.remove-book:hover {
    opacity: 0.5;
}

.table-head {
    font-weight: bold;
    color: #1f4637;
}

.book-modal {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
}

.modal-title {
    width: 100%;
    height: 50px;
    font-size: 25pt;
    font-weight: bold;
    color: #1f4637;
    text-align: center;
}

.checked {
    background: url('/front-end/books/static/image/check.png') no-repeat center;
    background-size: 20px;
}

.close {
    height: 37px;
    width: 37px;
    float: right;
    background: url('/front-end/books/static/image/close.png') no-repeat center;
    background-size: 25px;
}

.close:hover {
    opacity: 0.5;
    cursor: pointer;
}

body {
    margin: 0;
}

header {
    background: rgb(185, 255, 235);
    height: 60px;
    padding: 0;
    cursor: default;
}

footer {
    background: rgb(185, 255, 235);
    height: 300px;
    padding: 0;
}

table {
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}

tr {
}

td {
    width: 100px;
    text-align: center;
    height: 100%;
}

td:last-child {
    width: 30px;
}
